body {
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: left bottom;
	font-family: Helvetica;
	font-size: 12px;
	max-width: 960px;
	margin: auto;
}

h1 {
	font-size: 68px;
	font-family: cursive;
	z-index: 100;
	background-color: white;
}

#description {
	font-style: italic;
	font-size: 13px;
	margin-top: -70px;
	margin-left: 300px;
	z-index: 90;
}

#main {
	width: 75%;
	display: inline-block;
	vertical-align: top;
	padding-left: 5px;
	border: 1px solid;
	background-color: white;
}

#photolink {
	width: 20%;
	display: inline-block;
	vertical-align: top;
	padding-right: 5px;
	border: 1px solid;
}

img {
	box-shadow: 10px 10px 5px #FFFFFF;
	float: right;
	border-radius: 8px;
	margin: 10px;
}

a img {
	height:300px;
	width: 200px;
}

#greatwheel {
	height: 300px;
	width: 200px;
}

#view {
	height: 300px;
	width: 200px;
	float: left;
}

a:visited {
	color: green;
}

fieldset {
	border-color: black;
}

form {
	margin: 10px;
}

table {
	border: 1px black solid;
}

button {
	float: right;
}

textarea {
	width: 100%;
}

footer {
	position: center;
	height: 50px;
	clear: both;
	text-align: center;
	background-color: white;
	border: 1px solid;
	width: 100%;
	float: right;
}

@media screen and (max-width: 730px) {
	h1 {
		font-size: 38px;
	}
}