body {
	background-image:  url(http://www.clker.com/cliparts/Q/R/M/g/x/p/ferris-wheel-silhouette-hi.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: left bottom;
	font-family: Helvetica;
	font-size: 12px;
	max-width: 960px;
	margin: auto;
}

h1 {
	font-size: 68px;
	font-family: cursive;
	z-index: 100;
}

#description {
	font-style: italic;
	font-size: 13px;
	margin-top: -70px;
	margin-left: 300px;
	color: #33CCFF;
	z-index: 90;
}

#main {
	width: 75%;
	display: inline-block;
	vertical-align: top;
	padding-left: 5px;
}

#photolink {
	width: 20%;
	display: inline-block;
	vertical-align: top;
	padding-right: 5px;
}

img {
	box-shadow: 10px 10px 5px #FFFFFF;
	float: right;
}

#greatwheel {
	height: 300px;
	width: 200px;
}

#view {
	height: 300px;
	width: 200px;
}