body {
	background-image:  url(http://www.clker.com/cliparts/Q/R/M/g/x/p/ferris-wheel-silhouette-hi.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: left bottom;
	font-family: Helvetica;
	font-size: 12px;
}

h1 {
	font-size: 68px;
	font-family: cursive;
}

#description {
	font-style: italic;
	font-size: 13px;
	margin-top: -70px;
	margin-left: 300px;
	color: #33CCFF;
}

#story {
	float: left;
}

img {
	box-shadow: 10px 10px 5px #FFFFFF;
	float: right;
}

#greatwheel {
	height: 300px;
	width: 200px;
}

#view {
	height: 300px;
	width: 200px;
}